[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "stack/themes/hugo-theme-stack"]
	path = stack/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
